body {
    /*margin:12px 12px 0 9px;*/
    padding:0;
    /*background:#FFFFFF;*/
    background-image: url(../images/bg_geral.gif);
    background-color: #ffffff;
}

.tmainpage 
{	
	width:100%;
	height: 100%;
}

.theaderPanel {
	text-align: center; 
	width: 745;
	height: 27;
}

.tfooterPanel {
	text-align: center; 
	width: 745;
	height: 27;
}

.ccontext {
	width:745; 
	vertical-align: top; 
	font-size:12;
	font-family: Arial, Helvetica, sans-serif;
}

.tsubHeaderPanel {
	text-align: center; 
	width: 745;
	height: 35;
}

.tsubHeaderColumn1 {
	width: 42%;
}

.tsubHeaderColumn2 {
	width: 1%;
}

.tsubHeaderColumn3 {
	width: 25%;
}

.tsubHeaderColumn4 {
	width: 32%;
}

.thelpPanel {
	text-align: center; 
	width: 745;
	height: 55;
}

.tmainMenuPanel {
	text-align: left; 
	width: 745;
	height: 40;
}

.mainMenuLine {
	padding-left: 10px;
	background-color:#E9E9E9;
	width: 745;
	height: 20;
}

.mainMenuLine2 {
	padding-left: 5px;
	background-color:#FFFFFF;
	width: 745;
	height: 20;
}

.mainMenuItemSelected {
	height: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	background-color:#FFFFFF;
	color: #E90B0B;
	FONT: bold 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	
}
.mainMenuItem {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	height: 100%;
	text-decoration: none;
	color: #5B5B5C;
}

.mainMenuItem_2 {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	height: 100%;
	text-decoration: none;
	color: #E90B0B;
	FONT: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.mainMenuItem_3 {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	height: 100%;
	text-decoration: underline;
	color: #5B5B5C;
}

.cquickServicesMenu {
	width:180; 
	vertical-align: top; 
	font-size:12;
	font-family: Arial, Helvetica, sans-serif;
}

.cbodyContext {
	vertical-align: top; 
	font-size:12;
	font-family: Arial, Helvetica, sans-serif;
}

.pathContext {
	width: 745;
	height: 40;
}

.pathSpaceLine {
	height: 6;
	width: 745;
}

.pathLine {
	text-align:left;
	vertical-align:middle;
	background-color:#E9E9E9;
	width: 745;
}

.pathLine2 {
	height:15;
	width: 745;
	color: #E90B0B;
	FONT: bold 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-image: url(../images/seta_vermelha.jpg);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 15px;
	display: block;
}

.telaLine {
	text-align:right;
}
	
.msg_header {
    color: #E90B0B;
    FONT: bold 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.msg_header2 {
    color: #5B5B5C;
    FONT: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.msg_path {
    color: #E90B0B;
    FONT: bold 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.msg_path_text {
    color: #5B5B5C;
    FONT: bold 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.quickServicesMenu_MainItem {
	color: #E90B0B;
	FONT: bold 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-image: url(../images/seta_vermelha.jpg);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 15px;
	display: block;
}



