/* Sobrescrita de estilos diferenciados do componente UICalendar */
.fim_de_semana {
	background-color: #c6c6cb;
}

.dia_de_semana {
	background-color: #ebebec;
	color: #555555;
}

.dia_atual {
	background-color: #de2e30;
}

.table_calendar {
	height: 113px;
	width: 120px;
	top: -40px;
}

.botao_fechar {
	margin-left: 119px;
}