/*
	Definicion de estilos propios del aplicativo para paginas o grupos de paginas concretas
	
	Esta StyleSheet debera ser declarada como item de un atributo List de nombre "especificCSS" 
	en su tiles-definition correspondiente (en el fichero tiles-definitions.xml)
*/

.lbl1Obs
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #CC0000;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}

.bto1
{
    BORDER-RIGHT: #000000 1pt solid;
    BORDER-TOP: #000000 1pt solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: lowercase;
    BORDER-LEFT: #000000 1pt solid;
    COLOR: #000000;
    BORDER-BOTTOM: #000000 1pt solid;
    FONT-FAMILY: Helvetica, Arial, Sans-serif;
    /*BACKGROUND-COLOR: #ffffff*/
    BACKGROUND-IMAGE: url(../images/fundoBotao.gif);
	HEIGHT:	19px;
}

.bto2
{
    BORDER-RIGHT: #000000 1pt solid;
    BORDER-TOP: #000000 1pt solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    BORDER-LEFT: #000000 1pt solid;
    COLOR: #000000;
    BORDER-BOTTOM: #000000 1pt solid;
    FONT-FAMILY: Helvetica, Arial, Sans-serif;
    /*BACKGROUND-COLOR: #ffffff*/
    BACKGROUND-IMAGE: url(../images/fundoBotao.gif);
	HEIGHT:	19px;
}

.tab1
{
	BORDER-TOP: #CBCBC6 1pt solid;
	BORDER-LEFT: #CBCBC6 1pt solid;
}

.tab1Header
{
	BORDER-RIGHT: #CBCBC6 1pt solid;
	BORDER-BOTTOM: #CBCBC6 0pt solid;
	FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #000000;
    BACKGROUND-IMAGE: url(../images/topo_tabela.gif);
    HEIGHT:27;
}

.colTabCenter
{
	BORDER-RIGHT: #CBCBC6 1pt solid;
	BORDER-BOTTOM: #CBCBC6 1pt solid;
    TEXT-ALIGN:center;
}

.colTabLeft
{
	BORDER-RIGHT: #CBCBC6 1pt solid;
	BORDER-BOTTOM: #CBCBC6 1pt solid;
    TEXT-ALIGN:left;
    PADDING-LEFT:4px;
}

.colTabGeral
{
	BORDER-RIGHT: #CBCBC6 1pt solid;
	BORDER-BOTTOM: #CBCBC6 1pt solid;
    BORDER-LEFT: #CBCBC6 1pt solid;
	BORDER-TOP: #CBCBC6 1pt solid;
	vertical-align: middle;
	text-align: center;	
}

.colTabRight
{
	BORDER-RIGHT: #CBCBC6 1pt solid;
	BORDER-BOTTOM: #CBCBC6 1pt solid;
    TEXT-ALIGN:right;
    PADDING-RIGHT:4px;
}

.colTab1Left
{
	BORDER-RIGHT: #CBCBC6 1pt solid;
	BORDER-BOTTOM: #CBCBC6 1pt solid;
    TEXT-ALIGN:left;
    PADDING-LEFT:6px;
}

.rowTab1
{
    FONT-WEIGHT: none;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    BACKGROUND-COLOR: #F9F9F9;
}

.bto1Visualizado
{
	BORDER-RIGHT: #000000 1pt solid;
    BORDER-TOP: #000000 1pt solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: lowercase;
	TEXT-DECORATION: underline;
    BORDER-LEFT: #000000 1pt solid;
    COLOR: #000000;
    BORDER-BOTTOM: #000000 1pt solid;
    FONT-FAMILY: Helvetica, Arial, Sans-serif;
    BACKGROUND-IMAGE: url(../images/fundoBotao.gif);
	HEIGHT:	19px;
}

.lin
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 1px;
    COLOR: #C6C6CB;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}

.linSecundario
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 1px;
    COLOR: #C6C6CB;
	BORDER: dashed;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}

a
{
	COLOR: #000000;
    TEXT-DECORATION: none;
    FONT-FAMILY : verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
}

a:hover
{
	COLOR: #000000;
    TEXT-DECORATION: none;
}

.ativo {
	FONT-WEIGHT: bold;
}

.imageOver {
	BACKGROUND-IMAGE: url(../images/fundoVisualizado.gif);
	COLOR: #FFFFFF;
}

.imageOut {
	BACKGROUND-IMAGE: url(../images/topo_tabela.gif);
	COLOR: #000000;
}