.HtmlIntranetTable {
	font: 10px verdana;
	border: 1px;
	color: #000;
	background-color: #C6C6CB;
}

.HtmlIntranetTable tr th {
	font-weight: bold;
	background-color: #F1F1F1;
	height: 27px;
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
	background: url("../images/bg_table_tr_th.gif") repeat bottom;
}

.HtmlIntranetTable tr td {
	text-align: left;
	background-color: #F9F9F9;
	height: 27px;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
}