.tabPane {
    BACKGROUND-IMAGE: url(../images/tabPaneCinza.jpg);
    font: bold 10px verdana;
}

.rich-tab-inactive {
    border-width: 0px 0px 0px 0px;
    cursor: pointer;
}

.rich-tab-active {
	border-width: 0px 0px 0px 0px;
    BACKGROUND-IMAGE: url(../images/tabPaneVermelha.jpg);
    COLOR: #FFFFFF;
    font: bold 10px verdana;
}

.dr-tbpnl-tb-sel {
	border-width: 0px 0px 0px 0px;
	BACKGROUND-IMAGE: url(../images/tabPaneVermelha.jpg);
	COLOR: #FFFFFF;
	font: bold 10px verdana;
}